#container {
    font-family: prestige-elite-std, monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: auto auto 1em;
    grid-template-areas: "heading nav nav langSel"
                            "article article gallery gallery"
                            "footer footer footer footer";
}


html {
    box-sizing: border-box;
   
}

h1 {
    grid-area: heading;
    font-weight: bold;
    font-style: normal;
    color: rgb(92, 88, 50);
}

nav {
    display: grid;
}

ul.languageSelect {
    grid-area: langSel;
    list-style-type: none;
}

ul.navLinks {
    grid-area: nav;
}

main {
    grid-area: article;
}
